In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
url_train = pd.read_csv('dataset/url_train_features.csv', index_col=0)
url_train.head(10)

,host_count,avg_token_length,token_count,largest_token,url_length,ip_address,dots_count,critical_words,host_rank,host_country
0,8,8.00,3,18,52,0,2,0,-1,-1
1,8,8.00,3,18,43,0,2,1,-1,-1
2,3,4.33,3,7,42,0,3,0,-1,-1
3,28,5.67,3,11,33,0,2,0,-1,-1
4,28,5.67,3,11,33,0,2,0,-1,-1
5,83,6.00,2,9,23,0,1,0,6109,1342
6,197,6.33,3,11,57,0,2,0,326,217
7,53,4.67,3,8,27,0,2,0,-1,-1
8,83,6.00,2,9,23,0,1,0,6109,1342
9,1,5.33,3,10,43,0,3,0,-1,-1